body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

h1 {
  color: white;
  z-index: 10;
  position: relative;
}

/* particules */
.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}